{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="antifloat">
        <div id="index">
            <div id="index-izq">
                <img id="Logo" src="{% static 'imagenes/logo.png' %}" alt="LOGO">
            </div>
            <div id="index-der">
                <h1 id="h1_index" >BIENVENIDO A DEUSTUBULAR S.L.</h1>
            </div>
        </div>
    </header>
    <main>
        <div id="Inicio_sesion">
            <h2 id="Inicio_sesion_header">Iniciar sesion</h2>
            <form id="Inicio_sesion_cuerpo" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <p><input class="db-w100"  type="text" placeholder="Nombre de usuario" name="username"></p>
                <p><input class="db-w100"  type="password" placeholder="Contraseña" name="password"></p>
                {% if form.errors %}
                    <p>Usuario o contraseña incorrectos</p>
                {% endif %}
                <p><input class="db-w100"  type="submit" value="Confirmar"></p>
            </form>
            <p><a href="{% url 'principal' %}" id="invitado" style="text-decoration:none">Entrar como invitado</a></p>
        </div>
    </main>
</body>
</html>
