#index{
    background-image: url(../imagenes/fondo.jpg);
    background-size: 100%;
    text-align: center;
    position:absolute;
    left: 238px;
    height:200px;
    top:50%;
    margin-top:-100px;
      
}

#h1_index{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 50px;
}

#h2_index{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#PP{
    box-sizing: border-box;
    border-right: ridge;
    font-size: 20px;
    padding-right: 20px;
}


#gestion_empleados{
    box-sizing: border-box;
    border-right: ridge;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


#gestion equipos{
    box-sizing: border-box;
    border-right: ridge;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


#gestion_procesos{
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.enlaces_internos{
    color:black;
}


.enlaces_internos:hover{
    color:blue;
}
