/*Estilos generales*/
*{
    background-size: 100%;
    box-sizing: border-box;
}

/*Estilos para el body de todas las páginas*/
body{
    background-image: url(../imagenes/fondo.jpg);
    margin: 0 auto;
    width: 1200px;
}

/*Estilos exclusivos para el body del index*/
#index{
    height: 30%;
    left: 50%;
    margin: -15% 0 0 -25%;
    position: absolute;
    text-align: center;
    top: 60%;
    width: 50%;
}

/*Estilos para el h1 del index*/
#h1_index{
    font-size: 50px;
    color: black;
}

/*Estilos para el texto del index*/
.texto_index{
    font-family: 'Courier New', Courier, monospace;
}

/*Estilos para la opción página principal del menú de navegación*/
#PP{
    border-right: ridge;
    font-size: 20px;
    padding-right: 20px;
}

/*Estilos para la opción gestión de empleados del menú de navegación*/
#gestion_empleados{
    border-right: ridge;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Estilos para la opción gestión de equipos del menú de navegación*/
#gestion_equipos{
    border-right: ridge;
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Estilos para la opción gestión de procesos del menú de navegación*/
#gestion_procesos{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/*Estilos para los enlaces internos*/
.enlaces_internos{
    color:black;
}

/*Estilos especiales para los enlaces internos*/
.enlaces_internos:hover{
    font-style: italic;
}

/*Estilos generales para el menú de navegación*/
nav{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-bottom:20px;
}

/*Estilos generales para el header*/
header{
    border-bottom: 4px solid white;
    font-family: 'Courier New', Courier, monospace;
    width: 1200px;
}

/*Estilos para el footer de la página principal*/
#footer_PP{
    position: absolute;
}

/*Estilos generales para el footer*/
footer{
    border-top: 4px solid white;
    font-family: 'Courier New', Courier, monospace;
    width: 1200px;
}

/*Estilos para lo que venga a continuación del main*/
.antifloat{
    clear: both;
    content: "";
    display: table;
}

/*Estilos generales para los h3*/
h3{
   font-family: 'Courier New', Courier, monospace;
}

/*Estilos generales para los p*/
p{
   font-family: 'Courier New', Courier, monospace;
   text-align: justify;
}

/*Estilos para la imagen con enlace de twitter*/
#Twitter{
    height:25px;
    margin-left: 25px;
    margin-right: 15px;
    vertical-align: middle;
    width:25px;
}

/*Estilos para las imágenes de facebook e instagram*/
.Face_ins{
    height:25px;
    margin-right: 15px;
    vertical-align: middle;
    width:25px;
}

/*Estilos generales para el conjunto de contacto*/
#Contactos{
    color: black;
    padding-bottom: 10px;
    text-align: center;

}

/*Estilos para la imágen del teléfono*/
#Telefono{
    height:25px;
    margin-right: 10px;
    vertical-align: middle;
    width:25px;
}

/*Estilos para el logo*/
#Logo{
    height:80px;
    width:80px;
}
.h3_footer{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
}
.float-izq-50{
    float: left;
    padding: 10px;
    width: 50%;
}
.float-der-50{
    float: right;
    padding: 10px;
    width: 50%;
}
.footer-izq{
    float: left;
    padding-left: 20px;
    width: 70%
}
.footer-der{
    float: right;
    padding: 5px;
    width: 30%
}
.centrar{
    text-align: center;
}
.header-izq{
    float: left;
    padding: 10px 0px 5px 20px;
    width: 36%
}
.header-der{
    float: right;
    padding: 5px;
    width: 64%
}

/*Estilos para los submenus de los apartados del navegador*/
.Submenu{
    background: #333333;
    box-sizing: border-box;
    position: absolute;
    list-style: none;
    margin: 0;
    -moz-box-sizing: border-box;
    opacity: 0;
    padding: 0;
    transition: opacity 1.5s;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    width: 120%;
	width: auto;
}

/*Estilos para los títulos de los submenus*/
.Titulos_submenu{
    color: #fff;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
}

/*Estilos para que cuando se pone el cursor encima de los h2 del nav salgan los submenus*/
nav h2:hover .Submenu{
    opacity: 1;
    visibility: visible;
}

/*Estilos para que cuando se ponga el cursor encima de una opción de los submenus se pongan de un color al cabo de 1 segundo*/
.Submenu li a:hover{
	color: #CE7D35;
    transition: 1s;
}

/*Estilos generales para los h2*/
h2{
    font-family: 'Courier New', Courier, monospace;
}

.form-izq-50{
    float: left;
    padding: 15px 10px 8px 50px;
    width: 50%;
}
.enviar{
    margin: 20px 0px 10px 20px;
    padding: 5px;
}
