{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<fieldset>
    <legend>Novedades</legend>
    <form method="post" id="id_nov_form" data-post-url="{% url 'novedades_create' %}">
        {% csrf_token %}
        <div class="antifloat width-100">
            <div class="float-izq-50 padding-15">
                <p class="margin-14-20">{{ form.usuario.label_tag }}</p>
                <p>{{ form.modelo.errors }}</p>
                <p class="margin-14-20">{{ form.genero.label_tag }}</p>
                <p>{{ form.marca.errors }}</p>
                <p class="margin-14-20">{{ form.email.label_tag }}</p>
                <p>{{ form.categoria.errors }}</p>
            </div>
            <div class="float-der-50 padding-15">
                <p>{{ form.usuario }}</p>
                <p>{{ form.genero }}</p>
                <p>{{ form.email }}</p>
            </div>
        </div>
        <ul class="antifloat">
            <li id="nota"><p>Nota: Proximamente recibiras noticias nuestras.</p></li>
        </ul>
        <p><input class="enviar" id="btn-nov" type="submit" value="Suscribirse"></p>
    </form>
</fieldset>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/ajax_novedades.js' %}"></script>
{% endblock %}


