{% extends "base.html" %}

{% block contenido %}
<fieldset>
    <legend>Modificar Equipo</legend>
    <form action="" method="post">
        {% csrf_token %}
        <div class="antifloat width-100">
            <div class="float-izq-50 padding-15">
                <p class="margin-14-20">{{ form.modelo.label_tag }}</p>
                <p>{{ form.modelo.errors }}</p>
                <p class="margin-14-20">{{ form.marca.label_tag }}</p>
                <p>{{ form.marca.errors }}</p>
                <p class="margin-14-20">{{ form.categoria.label_tag }}</p>
                <p>{{ form.categoria.errors }}</p>
                <p class="margin-14-20">{{ form.fecha_adquisicion.label_tag }}</p>
                <p>{{ form.fecha_adquisicion.errors }}</p>
                <p class="margin-14-20">{{ form.fecha_instalacion.label_tag }}</p>
                <p>{{ form.fecha_instalacion.errors }}</p>
            </div>
            <div class="float-der-50 padding-15">
                <p>{{ form.modelo }}</p>
                <p>{{ form.marca }}</p>
                <p>{{ form.categoria }}</p>
                <p>{{ form.fecha_adquisicion }}</p>
                <p>{{ form.fecha_instalacion }}</p>
            </div>
        </div>
        <input class="enviar_cancelar" type="submit" value="Nuevo Equipo">
        <a class="enviar_cancelar" href="{% url 'equipo_list' %}">Cancelar</a>
    </form>
</fieldset>
{% endblock %}
