{% extends "base.html" %}
{% load static %}

{% block contenido %}
<div class="centrar">
    <a href="{% url 'proceso_list' %}"><button>Ver como<br>Lista</button></a>
    <button id="ver">Ver como<br>Tabla</button>
    <input id="fil" type="text" placeholder="Filtrar por nombre" name="marca">
    <button id="busq">Buscar</button>
</div>
<div id="cont">
    <ul class="lista">
        {% for pro in proceso_list %}
        <li>
            <p class="mar-inferior p-lista">Proceso</p>
            <div class="mar-inferior">
                <a href="{% url 'proceso_detail' pro.id %}">Ver</a> ||
                <a href="{% url 'proceso_edit' pro.id %}">Editar</a> ||
                <a href="{% url 'proceso_delete' pro.id %}">Borrar</a>
            </div>
            <ul class="listas">
                <li>ID: {{ pro.id }}</li><br>
                <li>Codigo Orden Fabricación: {{ pro.codigo_orden_fabricacion }}</li><br>
                <li>Codigo Proceso: {{ pro.codigo_proceso }}</li><br>
                <li>Referencia: {{ pro.referencia }}</li><br>
                <li>Nombre: {{ pro.nombre_proceso }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/proceso.js' %}"></script>
{% endblock %}
