{% extends "base.html" %}

{% block contenido %}
<fieldset>
    <legend>Modificar Proceso</legend>
    <form action="" method="post">
        {% csrf_token %}
        <div class="antifloat width-100">
            <div class="form-izq-30 padding-15">
                <p class="margin-14-20">{{ form.codigo_orden_fabricacion.label_tag }}</p>
                <p>{{ form.codigo_orden_fabricacion.errors }}</p>
                <p class="margin-14-20">{{ form.codigo_proceso.label_tag }}</p>
                <p>{{ form.codigo_proceso.errors }}</p>
                <p class="margin-14-20">{{ form.nombre_proceso.label_tag }}</p>
                <p>{{ form.nombre_proceso.errors }}</p>
                <p class="margin-14-20">{{ form.referencia.label_tag }}</p>
                <p>{{ form.referencia.errors }}</p>
                <p class="margin-14-20">{{ form.fecha_inicio.label_tag }}</p>
                <p>{{ form.fecha_inicio.errors }}</p>
                <p class="margin-14-20">{{ form.fecha_fin.label_tag }}</p>
                <p>{{ form.fecha_fin.errors }}</p>
                <p class="margin-14-20">{{form.activo.label_tag }}<br>(Si el proceso esta activo actualmente poner misma fecha inicio y fin y marcar esta casilla)</p>
                <p>{{ form.activo.errors }}</p>
            </div>
            <div class="float-der-70 padding-15">
                <p>{{ form.codigo_orden_fabricacion }}</p>
                <p>{{ form.codigo_proceso }}</p>
                <p>{{ form.nombre_proceso }}</p>
                <p>{{ form.referencia }}</p>
                <p>{{ form.fecha_inicio }}</p>
                <p>{{ form.fecha_fin }}</p>
                <p class="activo">{{ form.activo }}</p>
            </div>
        </div>
        <div class="padding-15 margin-top-0">
            <p>{{ form.equipo.label_tag }}</p>
            <p>{{ form.equipo }}</p>
            <p>{{ form.empleados.label_tag }}</p>
            <p>{{ form.empleados }}</p>
        </div>
        <input class="enviar_cancelar" type="submit" value="Nuevo Proceso">
        <a class="enviar_cancelar" href="{% url 'proceso_list' %}">Cancelar</a>
    </form>
</fieldset>
{% endblock %}
