<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deustubular S.L.</title>
</head>
<body>
    <header>
        <h1>Deustubular S.L.</h1>
        <nav>
            <h2>Página principal</h2>
            <h2>Gestión de procesos</h2>
            <h2>Gestión de equipos</h2>
            <h2>Gestión de empleados</h2>
        </nav>
    </header>
    <main>
        <h2>{{ titulo_pagina }}</h2>
        {% block contenido %}
        {% endblock %}
    </main>
</body>
    <footer>
        <p>El código que contiene este repositorio se encuenta bajo la licencia GNU GPL-3.0</p>
    </footer>
</html>
