{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deustubular S.L.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="antifloat">
        <div class="header-izq">
            <a href="{% url 'principal' %}"><img id="Logo" src="{% static 'imagenes/logo.png' %}" alt="LOGO"></a>
        </div>
       <div class="header-der">
            <h1>Deustubular S.L.</h1>
            <a href="{% url 'login' %}" ><button id="Log_out">Log out</button></a>
        </div>
    </header>
    <nav>
        <h2 id="PP"><a href="{% url 'principal' %}" class="enlaces_internos" style="text-decoration:none;">
            PÁGINA PRINCIPAL</a></h2>
        <h2 id="gestion_empleados">GESTION DE LOS EMPLEADOS
            <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'empleado_create' %}">Añadir empleado</a></li>
                <li><a class="Titulos_submenu" href="{% url 'empleado_list' %}">Listar los empleados<br>
                    (Detalles, Modificar &amp; Borrar)</a></li>
            </ul>
        </h2>
        <h2 id="gestion_equipos">GESTION DE LOS EQUIPOS
            <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'equipo_create' %}">Añadir equipo</a></li>
                <li><a class="Titulos_submenu" href="{% url 'equipo_list' %}">Listar los equipos<br>
                    (Detalles, Modificar &amp; Borrar)</a></li>
            </ul>
        </h2>
        <h2 id="gestion_procesos">GESTION DE LOS PROCESOS
            <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'proceso_create' %}">Añadir proceso</a></li>
                <li><a class="Titulos_submenu" href="{% url 'proceso_list' %}">Listar los procesos<br>
                    (Detalles, Modificar &amp; Borrar)</a></li>
            </ul>
        </h2>
    </nav>
    <main class="antifloat">
    <h2 class="centrar">{{ titulo_pagina }}</h2>
    {% block contenido %}
    {% endblock %}
    </main>
</body>
<footer>
    <div class="footer-izq">
        <h3 class="h3_footer">TODOS LOS DERECHOS RESERVADOS PARA ESTOS MARAVILLOSOS ALUMNOS</h3>
    </div>
    <div class="footer-der">
        <div id="Contactos">
            <h2>Contáctanos</h2>
            <img id="Telefono" src="{% static 'imagenes/telefono.png' %}" alt="TELEFONO">
            <label for="Telefono">906348756</label>
            <a href="https://twitter.com/?lang=es"><img id="Twitter" src="{% static 'imagenes/twitter.png' %}" alt="TWITTER"></a>
            <a href="https://es-es.facebook.com/"><img class="Face_ins" src="{% static 'imagenes/facebook.png' %}"
                        alt="FACEBOOK"></a>
            <a href="https://www.instagram.com/?hl=es"><img class="Face_ins" src="{% static 'imagenes/instagram.png' %}"
                        alt="INSTAGRAM"></a>
        </div>
    </div>
</footer>
</html>

