{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deustubular S.L.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Deustubular S.L.</h1>
    </header>
     <nav>
        <h2 id="PP"><a href="{% url 'principal' %}" class="enlaces_internos" style="text-decoration:none;">
            PÁGINA PRINCIPAL</a></h2>
        <h2 id="gestion_empleados"><a href="{% url 'gestion_empleado' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS EMPLEADOS</a></h2>
        <h2 id="gestion_equipos"><a href="{% url 'gestion_equipo' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS EQUIPOS</a></h2>
        <h2 id="gestion_procesos"><a href="{% url 'gestion_proceso' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS PROCESOS</a></h2>
    </nav>
    <main>
    <h2>{{ titulo_pagina }}</h2>
    {% block contenido %}
    {% endblock %}
    </main>
</body>
<footer>
    <p>TODOS LOS DERECHOS RESERVADOS PARA ESTOS MARAVILLOSOS ALUMNOS</p>
</footer>
</html>

