{% extends 'base.html' %}

{% block contenido %}
<fieldset>
    <legend>Añadir empleado</legend>
    <form action="{% url 'empleado_create' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <div class="form-izq-50">
                    {{ field.label_tag }}
                </div>
                <div class="float-der-50">
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <br>
        <input class="enviar" type="submit" value="Nuevo Empleado">
    </form>
</fieldset>
{% endblock %}
