{% extends "base.html" %}

{% block contenido %}

<table class="centrar">
    <tr class="tr_estilos">
        <td>DNI</td>
        <td>{{ empleado.dni }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Nombre</td>
        <td>{{ empleado.nombre }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Apellidos</td>
        <td>{{ empleado.apellidos }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Email</td>
        <td>{{ empleado.email }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Teléfono</td>
        <td>{{ empleado.telefono }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Dirección</td>
        <td>{{ empleado.direccion }}</td>
    </tr>
    <tr class="tr_estilos">
        <td>Fecha Nacimiento</td>
        <td>{{ empleado.fecha_nacimiento }}</td>
    </tr>
</table>

{% endblock %}
