{% extends "base.html" %}

{% block contenido %}
<div class="div-table">
    <table>
        <tr>
            <td>DNI</td>
            <td class="td_estilos">{{ empleado.dni }}</td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td class="td_estilos">{{ empleado.nombre }}</td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td class="td_estilos">{{ empleado.apellidos }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td class="td_estilos">{{ empleado.email }}</td>
        </tr>
        <tr>
            <td>Teléfono</td>
            <td class="td_estilos">{{ empleado.telefono }}</td>
        </tr>
        <tr>
            <td>Dirección</td>
            <td class="td_estilos">{{ empleado.direccion }}</td>
        </tr>
        <tr>
            <td>Fecha Nacimiento</td>
            <td class="td_estilos">{{ empleado.fecha_nacimiento|date:"d / m /Y"  }}</td>
        </tr>
    </table>
</div>

{% endblock %}
