{% extends "base.html" %}

{% block contenido %}

<table>
    <tr>
        <td>ID</td>
        <td>{{ empleado.id }}</td>
    </tr>
    <tr>
        <td>DNI</td>
        <td>{{ empleado.dni }}</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{ empleado.nombre }}</td>
    </tr>
    <tr>
        <td>Apellidos</td>
        <td>{{ empleado.apellidos }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ empleado.email }}</td>
    </tr>
    <tr>
        <td>Teléfono</td>
        <td>{{ empleado.tel }}</td>
    </tr>
    <tr>
        <td>Dirección</td>
        <td>{{ empleado.dir }}</td>
    </tr>
    <tr>
        <td>Fecha Nacimiento</td>
        <td>{{ empleado.f_nacimiento }}</td>
    </tr>
</table>

{% endblock %}
