{% extends "base.html" %}

{% load static %}

{% block contenido %}

<ol class="lista">
    {% for em in empleado_list %}
    <li>
        <p class="mar-inferior">Empleado</p>
        <div class="mar-inferior">
            <a href="{% url 'empleado_detail' em.dni %}">Ver</a> ||
            <a href="{% url 'empleado_edit' em.dni %}">Editar</a> ||
            <a href="{% url 'empleado_delete' em.dni %}">Borrar</a>
        </div>
        <ul class="listas">
            <li>DNI: {{ em.dni }}</li><br>
            <li>Nombre: {{ em.nombre }}</li>
        </ul>
        <br>
    </li>
    {% endfor %}
</ol>

{% endblock %}
