{% extends "base.html" %}

{% block contenido %}

<ul class="lista">
    {% for eq in equipo_list %}
    <li>
        <p class="mar-inferior p-lista">Equipo</p>
        <div class="mar-inferior">
            <a href="{% url 'equipo_detail' eq.id %}">Ver</a> ||
            <a href="{% url 'equipo_edit' eq.id %}">Editar</a> ||
            <a href="{% url 'equipo_delete' eq.id %}">Borrar</a>
        </div>
        <ul class="listas">
            <li>ID: {{ eq.id }}</li><br>
            <li>Marca: {{ eq.marca }}</li><br>
            <li>Modelo: {{ eq.modelo }}</li>
        </ul>
    </li>
    {% endfor %}
</ul>

{% endblock %}
