{% extends "base.html" %}

{% block contenido %}
<div class="div-table">
    <table>
        <tr>
            <td>ID</td>
            <td class="td_estilos">{{ equipo.id }}</td>
        </tr>
        <tr>
            <td>Modelo</td>
            <td class="td_estilos">{{ equipo.modelo }}</td>
        </tr>
        <tr>
            <td>Marca</td>
            <td class="td_estilos">{{ equipo.marca }}</td>
        </tr>
        <tr>
            <td>Categoria</td>
            <td class="td_estilos">{{ equipo.categoria }}</td>
        </tr>
        <tr>
            <td>Fecha Adquisición</td>
            <td class="td_estilos">{{ equipo.fecha_adquisicion }}</td>
        </tr>
        <tr>
            <td>Fecha Instalación</td>
            <td class="td_estilos">{{ equipo.fecha_instalacion }}</td>
        </tr>
    </table>
</div>
{% endblock %}
