{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deustubular S.L.</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="antifloat">
        <div class="header-izq">
            <a href="{% url 'principal' %}"><img id="Logo" src="{% static 'imagenes/logo.png' %}" alt="LOGO"></a>
        </div>
        <div class="header-der">
            <h1>Deustubular S.L.</h1>
        </div>
    </header>
     <nav>
        <h2 id="PP"><a href="{% url 'principal' %}" class="enlaces_internos" style="text-decoration:none;">
            PÁGINA PRINCIPAL</a></h2>
        <h2 id="gestion_empleados"><a href="{% url 'gestion_empleado' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS EMPLEADOS</a>
            <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'empleado_create' %}">Añadir empleado</a></li>
                <li><a class="Titulos_submenu" href="{% url 'empleado_list' %}">Listar los empleados</a></li>

            </ul>
        </h2>
        <h2 id="gestion_equipos"><a href="{% url 'gestion_equipo' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS EQUIPOS</a>
            <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'equipo_create' %}">Añadir equipo</a></li>
                <li><a class="Titulos_submenu" href="{% url 'equipo_list' %}">Listar los equipos</a></li>
            </ul>
        </h2>
        <h2 id="gestion_procesos"><a href="{% url 'gestion_proceso' %}" class="enlaces_internos" style="text-decoration:none;">
            GESTION DE LOS PROCESOS</a>
        <ul class="Submenu">
                <li><a class="Titulos_submenu" href="{% url 'proceso_create' %}">Añadir proceso</a></li>
                <li><a class="Titulos_submenu" href="{% url 'proceso_list' %}">Listar los procesos</a></li>
            </ul>
        </h2>
    </nav>
    <main class="antifloat">
        <h3 class="centrar">Esta es la aplicación web para gestionar los procesos, empleados y equipos de esta nuestra fábrica.</h3>
        <div class="float-izq-50">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, dolores repudiandae.
                Id maiores est reiciendis eligendi doloribus accusamus tempore consequatur minima velit
                sed, modi incidunt excepturi, APLICACIÓN iusto tempora, et illum. Ut inventore praesentium
                eaque rem maiores amet minima quam, tenetur nobis nulla. Eveniet, beatae consectetur necessitatibus
                ad porro ab doloremque vitae quas deserunt sit incidunt accusantium natus non voluptatum labore alias
                nulla aspernatur quo quia quidem earum, voluptas adipisci voluptates! Repellat tempore officiis ut
                repudiandae ea WEB reprehenderit! Architecto dicta consequatur nesciunt et explicabo pariatur
                magnam recusandae nam, quasi CREADA dignissimos dolorum incidunt expedita doloribus?
            </p>
        </div>
        <div class="float-der-50">
            <p>
                Hic accusamus impedit repellendus ab optio labore quod, mollitia quas voluptatem, est cum sapiente
                explicabo ipsum repellat corporis. Nisi repellat non sunt a dignissimos POR assumenda
                est laudantium. Officiis modi odit veniam similique dignissimos fugit deleniti reiciendis tempore
                eum possimus, nisi assumenda impedit ipsa cum sed quasi at distinctio dolore illum harum delectus
                quidem consectetur. Quasi maiores est, sapiente tenetur odit voluptates velit aliquid tempore sint,
                ipsum fugiat eum neque AITOR numquam nulla corrupti! Eum et tempora culpa beatae earum vitae ex, saepe
                inventore modi dolor quae placeat. Expedita corporis iure incidunt voluptatibus excepturi pariatur!
                reprehenderit maxime ex aut iste, optio voluptates vitae sint velit temporibus est recusandae MIKEL.
            </p>
        </div>
    </main>
</body>
<footer class="footer_PP">
    <div class="footer-izq">
        <h3 class="h3_footer">TODOS LOS DERECHOS RESERVADOS PARA ESTOS MARAVILLOSOS ALUMNOS</h3>
    </div>
    <div id="footer-der">
        <div id="Contactos">
            <h2>Contáctanos</h2>
            <img id="Telefono" src="{% static 'imagenes/telefono.png' %}"alt="TELEFONO">
            <label for="Telefono">906348756</label>
            <a href="https://twitter.com/?lang=es"><img id="Twitter" src="{% static 'imagenes/twitter.png' %}" alt="TWITTER"></a>
            <a href="https://es-es.facebook.com/"><img class="Face_ins" src="{% static 'imagenes/facebook.png' %}"
                        alt="FACEBOOK"></a>
            <a href="https://www.instagram.com/?hl=es"><img class="Face_ins" src="{% static 'imagenes/instagram.png' %}"
                        alt="INSTAGRAM"></a>
        </div>
    </div>
</footer>
</html>
