{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="index">
        <div id="index-izq">
            <img id="Logo" src="{% static 'imagenes/logo.png' %}" alt="LOGO">
        </div>
        <div id="index-der">
            <h1 id="h1_index" >BIENVENIDO A DEUSTUBULAR S.L.</h1>
        </div>
    </div>
    <div id="Inicio_sesion">
        <h2 class="Inicio_sesion_header">Iniciar sesion</h2>
        <form class="Inicio_sesion_cuerpo" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <p><input type="text" placeholder="Nombre de usuario" name="username"></p>
            <p><input type="password" placeholder="Contraseña" name="password"></p>
            {% if form.errors %}
            <p>Usuario o contraseña incorrectos</p>
            {% endif %}
            <p><input type="submit" value="Confirmar"></p>
            <p><a href="{'% url 'registrar' %}" class="boton_soy_nuevo">Soy nuevo</a></p>
        </form>
    </div>
</body>
</html>
