{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="index">
        <div id="index-izq">
            <img id="Logo" src="{% static 'imagenes/logo.png' %}" alt="LOGO">
        </div>
        <div id="index-der">
            <h1 id="h1_index" >BIENVENIDO A DEUSTUBULAR S.L.</h1>
        </div>
    </div>
        <div id="Inicio_sesion" class="float-izq-33">
            <h2 class="Inicio_sesion_header">Iniciar sesion</h2>
            <form class="Inicio_sesion_cuerpo" method="POST" action="{% url 'login' %}">
<!--                <p><input type="text" placeholder="Nombre de usuario"></p>-->
<!--                <p><input type="password" placeholder="Contraseña"></p>-->

                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}

                {{ form.password.label_tag }}
                {{ form.password }}

                {{ form.errors }}
                <p><input type="text" placeholder="Nombre de usuario"></p>
                <p><input type="password" placeholder="Contraseña"></p>
                <p><input type="submit" value="Confirmar"></p>
            </form>
        </div>
        <div id="Registro" class="float-der-33">
            <h2 id="Registro_header">Registrate</h2>
            <form class="Registro_cuerpo">
                <p><input type="text" placeholder="Nombre"></p>
                <p><input type="text" placeholder="Apellidos"></p>
                <p><input type="text" placeholder="Nombre de usuario"></p>
                <p><input type="email" placeholder="Email"></p>
                <p><input type="password" placeholder="Contraseña"></p>
                <p><input type="password" placeholder="Confirmar contraseña"></p>
                <p><input type="submit" value="Confirmar"></p>
            </form>
        </div>
</body>
</html>
